        /* *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        } */
        .plane {
            /* border: 2px rgb(12, 156, 43) solid;       */
            background-color: #d1d1d1; 
            margin-top: 0px;
            padding-top: 0px;
            background-image: url("/static/flight/images/airplane3.svg") ;
            background-position: center; 
            background-size: cover;
            
        }

        .seats-wrapper {
            /* border: 2px rgb(144, 11, 221) solid; */
            position:relative;
            width: 330px;
            height:1600px  
        }

        .seats {
        /* border: 2px rgb(253, 0, 0) solid; */
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        position:relative;
        top: 350px;
        left: 28px;
        }

        .frame {
        /* border: 2px rgb(20, 9, 179) solid; */
        display: inline-flex;
        align-items: flex-start;
        gap: 45px;
        position: relative;
        flex: 0 0 auto;
        }

        .frame-2 {
        /* border: 2px rgb(1, 87, 8) solid; */
        display: inline-flex;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
        }

        .div-wrapper {
        /* border: 2px rgb(150, 7, 131) solid; */
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 4px 10px 4px 4px;
        position: relative;
        flex: 0 0 auto;
        /* background-color: #3b77dc0d; */
        background-color: rgb(233, 240, 247);
        border-radius: 4px;
        /* border: 0.5px rgb(80, 78, 80) solid; */
        }

        .div-wrapper:hover {
        cursor: pointer;
        background-color: #36DBD9;
        /* opacity: 0.5; */
        color: hsl(0, 0%, 100%);

        }

        .text-wrapper {
        position: relative;
        width: 14px;
        margin-top: -1px;
        font-family: "Inter-Medium", Helvetica;
        font-weight: 500;
        color: var(--gray-555);
        font-size: 14px;
        text-align: center;
        letter-spacing: 0;
        line-height: 24px;
        }

        .frame-3 {/*It is for blue seat*/
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 4px 10px 4px 4px;
        position: relative;
        flex: 0 0 auto;
        background-color: #5C69E2;
        border-radius: 4px;
        }

        .frame-4 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 4px 10px 4px 4px;
        position: relative;
        flex: 0 0 auto;
        background-color: #d9d9d9;
        border-radius: 4px;
        }

        .frame-5 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 4px 10px 4px 4px;
        position: relative;
        flex: 0 0 auto;
        background-color: #7c7270;
        border-radius: 4px;
        }
        .seat_type {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        }

        .seat_type.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        /* background-color: #cae8ca;
        border: 2px solid #4CAF50; */
        }

        .navbar {
        background-color: #5C69E2;
        }

        .navbar-text,
        .navbar-brand,
        .nav-link,
        .nav-link.active {
        color: white;
        }

        .btn {
        background-color: #e8114b;
        color: white;
        }

        .btn2 {
        background-color: #290283;
        color: white;
        }

        .btn:hover {
        cursor: pointer;
        background-color: #36DBD9;
        color: hsl(0, 0%, 100%);

        }

        .custom-tooltip {
        --bs-tooltip-bg: var(--bs-primary);
        }

        .selected_seat {
        border: 2px solid #123cc7;
        border-radius: 10px;
        background-color: white;
        width: 350px;
        height: 450px;
        
        }

        .selected_seat.sticky_sel {
        position: -webkit-sticky;
        position: sticky;
        top: 5px;
        }

        .seat_details{
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        color: black;
        }

        .del_change{
        color: red;
        }

        .add_continue {
        margin-top: 80px;
        }

        .total_price{
        padding: 5px;
        padding-top: 10px;
        padding-left: 20px;
        color: black;
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        
        }

        .passenger {
        margin-top: 0px;
        color: black;
        }

        .num_seat {
        padding: 4px 8px 4px 4px;
        background-color: #3509d4;
        color: white;
        border-radius: 4px;
        border: 0.5px rgb(80, 78, 80) solid;
        }

        .type_seat {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        }
