.navbar {
  background-color: #5C69E2;
}

.navbar-text,
.navbar-brand,
.nav-link,
.nav-link.active {
  color: white;
}

.btn-nav {
  background-color: #e8114b;
  color: white;
}

.btn2 {
  background-color: #290283;
  color: white;
}

.btn-nav:hover {
  cursor: pointer;
  background-color: #36DBD9;
  color: hsl(0, 0%, 100%);
}

.baggage {
  border: 2px rgb(185, 10, 10) solid;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 0px;
}

.row {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-bottom: 0.7rem;
}

.div-baggage-title {
  background-color: #36DBD9;

}


/* 
  .desktop .overlap {
    position: absolute;
    width: 4022px;
    height: 273px;
    top: 2px;
    left: 0;
    background-color: #36dbd9;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 822px;
    top: 77px;
    left: 1600px;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 72px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 375px;
    top: 88px;
    left: 240px;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 72px;
    letter-spacing: 0;
    line-height: normal;
  } */

.flight-fare {
  /* border: 2px rgb(185, 10, 10) solid; */
  /* position: absolute; */
  width: 100%;
  height: 520px;
  /* top: 318px;
    left: 0; */
}

.rectangle-fare {
  /* position: absolute; */
  width: 100%;
  height: 520px;
  /* top: 0;
    left: 30px; */
  border-radius: 50px;
  border: 3px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
  padding-top: 20px;
}

.rectangle-fare-premium {
  width: 100%;
  height: 520px;
  /* top: 0;
    left: 30px; */
  border-radius: 50px;
  border: 3px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
  padding-top: 20px;
  background-color: #5C69E2;

}
.details-part1 {
  width: 100%;
  height: 400px;

}

.detail {
  display:inline-flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  margin-left: 20px;

}

.fare-text-4 {
  text-decoration: underline;
}

.fare-text-4-premium{ 
  text-decoration: underline;
  color: white;

}

.fare-option {
  /* position: absolute; */
  /* width: 947px;
    height: 106px; */
  /* top: 38px;
    left: 30px; */
  /* margin-bottom: 5px; */
  font-family: "Roboto Mono-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 50px;
}

.ellipse {
  background-color: #36dbd9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 5px;
}

.fare-text {
  /* top: 234px;
    left: 170px; */
  color: #000000;
  /* position: absolute; */
  font-family: "Roboto Condensed-Light", Helvetica;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-3 {
  display:inline-flex;
  justify-content: space-between;
  margin-left: 20px;

}
.ellipse-3 {
  background-color: #ff381d;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 5px;
}

.fare-text-3 {
  /* top: 420px;
    left: 84px; */
  /* position: absolute; */
  /* width: 29px; */
  font-family: "Roboto Condensed-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.no-aplican {
  /* position: absolute; */
  /* top: 375px;
    left: 174px; */
  font-family: "Roboto Condensed-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.option-fare-price {
  /* position: absolute; */
  /* width: 977px;
    top: 1281px; */
  /* left: 0; */
  font-family: "Roboto Condensed-Medium", Helvetica;
  font-weight: 500;
  color: #5c69e2;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

}

.span {
  font-family: "Roboto Condensed-Medium", Helvetica;
  font-weight: 500;
  color: #5c69e2;
  font-size: 20px;
  letter-spacing: 0;
}

.span-premium {
  font-family: "Roboto Condensed-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.text-wrapper-11 {
  /* position: absolute; */
  /* width: 574px;
    top: 1760px;
    left: 212px; */
  font-family: "Roboto Condensed-Medium", Helvetica;
  font-weight: 500;
  color: #36dbd9;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


/*   
  .desktop .overlap-group-2 {
    border: 4px rgb(9, 134, 5) solid;
    position: absolute;
    width: 1967px;
    height: 2007px;
    top: 318px;
    left: 991px;
  }
  
  .desktop .rectangle-2 {
    width: 953px;
    height: 2007px;
    top: 0;
    left: 1014px;
    border: 3px solid;
    box-shadow: 0px 4px 4px #00000040;
    position: absolute;
    border-radius: 50px;
    border-color: #000000;
  }
  
  .desktop .text-wrapper-12 {
    width: 442px;
    top: 69px;
    left: 104px;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
    position: absolute;
    font-size: 72px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-13 {
    position: absolute;
    width: 442px;
    top: 38px;
    left: 1294px;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 72px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .desktop .p {
    position: absolute;
    width: 983px;
    top: 1260px;
    left: 971px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #5c69e2;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-14 {
    position: absolute;
    width: 947px;
    height: 106px;
    top: 38px;
    left: 1020px;
    font-family: "Roboto Mono-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ellipse-4 {
    top: 235px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-15 {
    top: 242px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-16 {
    top: 238px;
    left: 177px;
    color: #000000;
    position: absolute;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-5 {
    top: 231px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-17 {
    top: 238px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-18 {
    position: absolute;
    top: 234px;
    left: 1158px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-6 {
    top: 331px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-19 {
    top: 338px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-20 {
    position: absolute;
    top: 275px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-7 {
    top: 427px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-21 {
    top: 434px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-22 {
    position: absolute;
    top: 434px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-8 {
    top: 523px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-23 {
    top: 530px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-24 {
    top: 475px;
    color: #000000;
    position: absolute;
    left: 165px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-9 {
    top: 334px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-25 {
    top: 341px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-26 {
    position: absolute;
    top: 275px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-10 {
    top: 430px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-27 {
    top: 437px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-28 {
    position: absolute;
    top: 375px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-11 {
    top: 526px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-29 {
    top: 533px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-30 {
    position: absolute;
    top: 533px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-12 {
    top: 629px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-31 {
    top: 636px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-32 {
    position: absolute;
    top: 636px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-13 {
    top: 725px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-33 {
    top: 732px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-34 {
    position: absolute;
    top: 732px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-14 {
    top: 821px;
    left: 1050px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-35 {
    top: 828px;
    left: 1075px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-36 {
    position: absolute;
    top: 775px;
    left: 1166px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rectangle-3 {
    width: 501px;
    height: 173px;
    top: 1732px;
    left: 252px;
    border: 2px solid;
    position: absolute;
    border-radius: 50px;
    border-color: #000000;
  }
  
  .desktop .text-wrapper-37 {
    top: 1754px;
    left: 216px;
    color: #36dbd9;
    position: absolute;
    width: 574px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .rectangle-4 {
    width: 501px;
    height: 173px;
    top: 1732px;
    left: 1212px;
    border: 2px solid;
    position: absolute;
    border-radius: 50px;
    border-color: #000000;
  }
  
  .desktop .text-wrapper-38 {
    top: 1760px;
    left: 1176px;
    color: #36dbd9;
    position: absolute;
    width: 574px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 977px;
    height: 2007px;
    top: 318px;
    left: 2962px;
  }
  
  .desktop .rectangle-5 {
    width: 947px;
    height: 2007px;
    top: 0;
    left: 30px;
    background-color: #5c69e2;
    border: 3px solid;
    box-shadow: 0px 4px 4px #00000040;
    position: absolute;
    border-radius: 50px;
    border-color: #000000;
  }
  
  .desktop .text-wrapper-39 {
    position: absolute;
    width: 947px;
    height: 106px;
    top: 42px;
    left: 0;
    font-family: "Roboto Mono-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .COP-por-2 {
    position: absolute;
    width: 977px;
    top: 1256px;
    left: 0;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-40 {
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 72px;
    letter-spacing: 0;
  }
  
  .desktop .ellipse-15 {
    top: 231px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-41 {
    top: 238px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-42 {
    top: 234px;
    left: 177px;
    color: #ffffff;
    position: absolute;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-16 {
    top: 334px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-43 {
    top: 341px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-44 {
    position: absolute;
    top: 275px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-17 {
    top: 430px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-45 {
    top: 437px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-46 {
    position: absolute;
    top: 375px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-18 {
    top: 526px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-47 {
    top: 533px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-48 {
    position: absolute;
    top: 533px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-19 {
    top: 626px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-49 {
    top: 633px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-50 {
    position: absolute;
    top: 633px;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .ellipse-20 {
    top: 722px;
    left: 69px;
    background-color: #36dbd9;
    position: absolute;
    width: 78px;
    height: 74px;
    border-radius: 39px/37px;
  }
  
  .desktop .text-wrapper-51 {
    top: 729px;
    left: 94px;
    position: absolute;
    width: 29px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-52 {
    top: 675px;
    color: #ffffff;
    position: absolute;
    left: 185px;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rectangle-6 {
    width: 501px;
    height: 173px;
    top: 1732px;
    left: 231px;
    border: 2px solid;
    position: absolute;
    border-radius: 50px;
    border-color: #000000;
  }
  
  .desktop .text-wrapper-53 {
    top: 1760px;
    left: 195px;
    color: #ffffff;
    position: absolute;
    width: 574px;
    font-family: "Roboto Condensed-Medium", Helvetica;
    font-weight: 500;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
   */