{% extends "master.html" %}

{% load static %}

{% block head %}
<title>Home | Flight</title>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'flight/css/home.css' %}">
{% endblock head %}

{% block body %}

<!-- FLIGHT/BEGIN -->
<!-- LG/MD -->
<div class="container-fluid flight-img vh-100">
    <div class="row justify-content-center">
        <!-- <h1 class="text-write fw-bold" style="font-size: 55px; padding: 7% 0 2% 16%;">Let the journey begin</h1> -->
    
        <div class="col-sm-12 col-md-10 col-lg-8 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- RADIO BUTTONS -->
                        <div class="d-flex text-black fw-bold">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Ida y vuelta
                                </label>
                            </div>
                            <div class="form-check mx-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Solo ida
                                </label>
                            </div>
                        </div>
                        <!-- RADIO BUTTONS END -->
                    </div>
                        <!-- INPUT FIELDS -->

                        <div class="row">
                            <form action="{% url 'select_fly' %}" method="POST" class="second-selection">
                                {% csrf_token %}
                                <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            <label for="origin" class="form-label  mb-0 text-black fs-8 fw-bold">Origen</label>
                                            <input list="origin_list" id="origin" name="origin" class="form-control"
                                                onblur="hideplaces(this)" placeholder="Type to search...">
                                            <datalist id="origin_list">
                                                <option value="Bogota">
                                                <option value="Cali">
                                                <option value="Pasto">
                                                <option value="Ibague">
                                                <option value="Cartagena">
                                                <option value="Pereira">
                                            </datalist>
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            <label for="destination" class="form-label mb-0 text-black fs-8 fw-bold">Destino</label>
                                            <input list="destination_list" id="destination" name="destination" class="form-control"
                                                placeholder="Type to search...">
                                            <datalist id="destination_list">
                                                <option value="Bogota">
                                                <option value="Cali">
                                                <option value="Pasto">
                                                <option value="Ibague">
                                                <option value="Cartagena">
                                                <option value="Pereira">
                                            </datalist>
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            <label for="departure_date" class="form-label mb-0 text-black fs-8 fw-bold">Fecha
                                                ida</label>
                                            {{ form.departure_date }}
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            <label for="arrival_time" class="form-label mb-0 text-black fs-8 fw-bold">Fecha
                                                Regreso</label>
                                            {{ form.arrival_time }}
                                        </div>
                    
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary mt-3">Buscar &#8594;</button>
                                    </div>
                                </div>
                            </form>
                        </div>

            
            
                        <!-- INPUT FIELDS END -->
            
            
                    </div>

                </div>
            </div>

        </div>
        <div class="row justify-content-center p-1">
            <!-- <hr> -->
            <div class="col-sm-12 col-md-10 col-lg-6 note mx-3">
                <h3>Nota:</h3>
                <p>Fechas disponibles para prueba: 7 de mayo de 2024</p>
                <p>Solo fecha de ida</p>
                <p>Ruta Bogota -> Pasto.</p>
            </div>
        
        </div>
    </div>
    


</div>

<!-- LG/MD END -->
<!-- FLIGHT/BEGIN END -->

{% endblock %}